body {
    background-image: url("https://www.absima.shop/absima_en/prodpic/1-10-EP-Crawler-CR3-4-SHERPA-BLUE-RTR-12012_b_0.JPG");
    background-size: cover;
    font-family: 'Black Ops One', cursive;

}
/* ///"https://ivorykaleidoscope.files.wordpress.com/2017/10/rc-surge.jpg?w=76" */

.navBar {
    background: rgba(255, 255, 255, 0.75);
    text-align: center;
    padding: 0;
    /*height: 160px;*/
    margin: 0px, 70px, 0px, 70px auto;
    position: fixed;
    top: 0;
    width: 100%;
}

input {
    padding: 3px;
    color: black;
    font-size: 20px;
    border-radius: 5px;
}

form {
    display: block;
    margin: 20px 20px 15px 20px;
}

.title {
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    color: #556B2F;
    margin: 0;
    padding-bottom: 1px;
}

.title h1 {
    margin: 2px 0;
    float: left;
    padding: 20px 20px 20px 30px;
}

.userChose {
    height: 25px;
    vertical-align: middle;
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 20px;
}

a, a:visited, a:active {
    color: #FF8C00;
}

.subNav {
    margin-right: 15px;
    top: 30px;
    float: right;
    position: relative;
}

.subNav a {
    margin: 0 5px;
}

.resultsContainer {
    width: 30%;
    height: 500px;
    overflow: scroll;
    background: rgba(255, 255, 255, 0.60);
    text-align: left;
    vertical-align: middle;
    margin-top: 200px;
    margin-right: 700px;
    border: 4px solid black;
    padding-top: 15px;
    padding-left: 10px;
    font-size: 15px;
    position: relative;
}

.location {
    padding-bottom: 10px;
    border-bottom: 1px solid #efefef;
}

.surfaces {

}

.surface {
    margin: 0 5px;
    padding: 5px;
}

.surface.off-road {
    background: chocolate;
    border-radius: 10px;
}

.surface.on-road {
    background:  darkgrey;
    border-radius: 10px;
}

.surface.dirt-oval {
    background: ;
    border-radius: 10px;
}

.footer {
    text-align: center;
    float: bottom;
    color: #FF8C00;
}



@media (max-width: 600px) {
    .title h1 {
        font-size: 1em;
    }
}
